{{ $page := . }}

<!doctype html>
{{ partial "paige/tag-html.html" $page }}
    {{ partial "paige/tag-head.html" $page }}
    {{ partial "paige/tag-body.html" $page }}
        {{ if templates.Exists "partials/paige/body-first.html" }}
            {{ partial "paige/body-first.html" $page }}
        {{ end }}

        <div class="container">
            <div class="row">
                <div class="col mt-3" id="paige-site">
                    {{ if templates.Exists "partials/paige/site-first.html" }}
                        {{ partial "paige/site-first.html" $page }}
                    {{ end }}

                    {{ partial "paige/site-header.html" $page }}
                    {{ block "main" $page }}{{ end }}
                    {{ partial "paige/site-footer.html" $page }}

                    {{ if templates.Exists "partials/paige/site-last.html" }}
                        {{ partial "paige/site-last.html" $page }}
                    {{ end }}
                </div>
            </div>
        </div>

        {{ partial "paige/scripts.html" $page }}

        {{ if templates.Exists "partials/paige/body-last.html" }}
            {{ partial "paige/body-last.html" $page }}
        {{ end }}
        <script>
            var goalTexture = '{{ "images/goal.png" | absURL }}';
        </script>          
        <script src="{{ "js/matter.min.js" | absURL }}"></script>
        <script src="{{ "js/matter-wrap.min.js" | absURL }}"></script>
        <script src="{{ "js/ball-machine-app.js" | absURL }}"></script>
        <script src="{{ "js/base-simulation.js" | absURL }}"></script>
        <script src="{{ "js/text.js" | absURL }}"></script>
        <script src="{{ "js/base-drawing-tool.js" | absURL }}"></script>
        <script src="{{ "js/notifications.js" | absURL }}"></script>
        <script src="{{ "js/lines.js" | absURL }}"></script>
        <script src="{{ "js/dotted-line.js" | absURL }}"></script>
        <script src="{{ "js/curved-line.js" | absURL }}"></script>
        <script src="{{ "js/launcher.js" | absURL }}"></script>
        <script src="{{ "js/launcher-create.js" | absURL }}"></script>
        <script src="{{ "js/game.js" | absURL }}"></script>
        <script src="{{ "js/goal.js" | absURL }}"></script>
        <script src="{{ "js/spawner.js" | absURL }}"></script>
        <script src="{{ "js/ui-updater.js" | absURL }}"></script>
        {{ partial "ball-machine-ui.html" . }}

        <script>
          // Disable links on the main page while a drawing tool is active.
          document.addEventListener('click', function(e) {
            if (window.App && window.App.modules && window.App.modules.lines && window.App.modules.lines.getMode() !== "none") {
              if (e.target.closest('a') && !e.target.closest('#ballfall-ui')) {
                e.preventDefault();
              }
            }
          });
        </script>
    </body>
</html>
