{{- /* layouts/shortcodes/favorite-posts.html */ -}}
{{- $itemsParam := .Get "favorites" -}}
{{- $items := split $itemsParam "," -}}
{{- $count := len $items -}}
{{- range $i, $item := $items -}}
  {{- $parts := split $item "|" -}}
  {{- $route := index $parts 0 -}}
  {{- $desc := "" -}}
  {{- if gt (len $parts) 1 -}}{{ $desc = index $parts 1 -}}{{ end -}}
  {{- $p := site.GetPage $route -}}
  {{- if $p -}}
<article class="paige-latest-item py-4 text-light">
  {{- if $desc -}}
  <p class="text-light">{{ $desc }}</p>
  <br>
  <br>
  {{- end -}}
  <h4 class="fw-bold mb-2">
    <a href="{{ $p.RelPermalink }}" class="link-light">{{ $p.Title }}</a>
  </h4>
  <p class="text-secondary">
    {{ $p.Summary }}
    {{ if $p.Truncated }}
      <a href="{{ $p.RelPermalink }}" class="link-light">… read more</a>
    {{ end }}
  </p>
  {{- if lt (add $i 1) $count -}}
    <hr class="border-secondary my-4">
  {{- end -}}
</article>
  {{- end -}}
{{- end -}}
